<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztyedu.mybatisplus.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.ztyedu.mybatisplus.pojo.Employee">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="empPassword" column="emp_password" jdbcType="VARCHAR"/>
            <result property="empId" column="emp_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,emp_name,emp_password,
        emp_id,status,create_time,
        update_time,is_deleted
    </sql>
    <select id="selectByEmpIdAndEmpPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_employee
        where
        emp_id = #{empId,jdbcType=NUMERIC}
        AND emp_password = #{empPassword,jdbcType=VARCHAR}
    </select>
</mapper>
