<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztyedu.mybatisplus.mapper.GoodMapper">

    <resultMap id="BaseResultMap" type="com.ztyedu.mybatisplus.pojo.Good">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodName" column="good_name" jdbcType="VARCHAR"/>
            <result property="goodPrice" column="good_price" jdbcType="DECIMAL"/>
            <result property="goodNumber" column="good_number" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,good_name,good_price,
        good_number,user_id,status,
        create_time,update_time,is_deleted
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_good where status = 1 and is_deleted = 0
    </select>
    <select id="selectByGoodName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_good
        where
        good_name = #{goodName,jdbcType=VARCHAR} and status = 1 and is_deleted = 0
    </select>


    <update id="updateGoodNumberAndUserIdByGoodName">
        update t_good
        set good_number = #{goodNumber,jdbcType=NUMERIC},
            user_id     = #{userId,jdbcType=NUMERIC}
        where good_name = #{goodName,jdbcType=VARCHAR}
    </update>
    <insert id="insertAll">
        insert into t_good
        (id, good_name, good_price,
         good_number, user_id, status,
         create_time, update_time, is_deleted)
        values (#{id,jdbcType=NUMERIC}, #{goodName,jdbcType=VARCHAR}, #{goodPrice,jdbcType=DECIMAL},
                #{goodNumber,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{status,jdbcType=NUMERIC},
                #{createTime}, #{updateTime}, #{isDeleted,jdbcType=NUMERIC})

    </insert>
    <update id="updateIsDeletedByGoodName">
        update t_good
        set is_deleted = #{isDeleted,jdbcType=NUMERIC}
        where good_name = #{goodName,jdbcType=VARCHAR}
    </update>
    <update id="updateGoodPriceByGoodName">
        update t_good
        set good_price = #{goodPrice}
        where good_name = #{goodName,jdbcType=VARCHAR}
    </update>
</mapper>
